<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="main.css" rel="stylesheet">
    <script src="jquery-3.4.1.js"></script>
    <title>Joseph's Running Data</title>
    
</head>
<body>
<div class='father'>
    <div>
        <h1>Running Data</h1>
    </div>
    <div class='list'>
        <ul class="listContent">
        </ul>
    </div>
</div>
     <script src="app.js"></script>
</body>
</html> 