@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: rgb(80, 80, 80);
    font-family: 'Open Sans', sans-serif;
}

.listContent {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns:400px 400px;
    justify-content: center;
}

.id {
    font-size: 1.5rem;
}

.runContainer {
    /* border: 1px solid red; */
    text-align: left;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
}

.run {
    /* border: 1px solid blue; */
    background-color: dodgerblue;
    box-shadow: 1px 1px 2px #000;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 20px;
}

.run:hover {
    box-shadow: 1px 1px 50px dodgerblue;
}


